/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.table-row{
  background-color: #444040;
  font-family: Arial;
}
.table-one{
  border: thin solid #ddd;
}
.table-row th{
  text-align: left;
  background-color: #444040;
  color: #f5f5f5;
  font-family: Arial;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 40%) {
  .container {
    max-width: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  height:20px;
  width:70%px;
  border-bottom: 1px solid #e5e5e5;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.ng-table {
    border: 1px solid #000;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
input[type="checkbox"]:checked + label{
  background-color: #444040 ;
  color: #f5f5f5;
  display:inline-block;

}

.btn-user{
  background-color: #444040 ;
  color: #f5f5f5;
}
.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: white;
}

.table-striped > tbody > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
