

<div class="jumbotron">
  <div class="col-xs-3 col-md-3">
    <input type="text" class="form-control" required placeholder="Name" ng-model="newdata.name"></input>
  </div>
  <div class="col-xs-3 col-md-3">
    <input type="text" class="form-control" placeholder="City" ng-model="newdata.city"></input>
  </div>
  <div class="col-xs-3 col-md-3">
    <input type="text" class="form-control" placeholder="County" ng-model="newdata.county"></input>
  </div>
  <div class="col-xs-3 col-md-3">
    <button class="btn btn-success" ng-click="save()">Save New Data</button>
  </div>
</div>  

<div class="row">
  <div class="col-xs-14 col-md-14">
    <input type="text" class="form-control" placeholder="Search DataSet" ng-model="searchText"></input>
  </div>   
</div>
<div class="row">
  <table ng-table class="table">
      <tr ng-repeat="row in data | filter:searchText" >
          <td data-title="'Name'">{{row.name | uppercase }}</td>
          <td data-title="'City'">{{row.city | uppercase }} </td>
          <td data-title="'County'">{{row.county | uppercase}}</td>
      </tr>    
  </table>
</div>
